{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user is not empty and is_granted('ROLE_ADMIN_APPLI') %}
        <a href="{{ path('app_cours_new') }}">Créer un nouveau cours</a>
    {% endif %}
    <div id="calendar-holder"></div>
    <style>
       .passed {
            opacity: 0.5; 
           text-decoration: line-through;
        }
        .disable-link {
            pointer-events: none; 
            cursor: default;
        }</style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                editable: false,
                events: {{ data|raw }},
                locale: 'fr',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
  eventClick: function(info) {
    var currentDate = new Date();
             var placesDispo = info.event.extendedProps.placesDispo;

    if (info.event.start < currentDate || placesDispo === 0) {
        // Si la date de début de l'événement est antérieure à la date actuelle, empêchez la résa par défaut
        // même chose dans le cas ou le nb de résa est strictement = à 0
        return false;
    } 



            
                    if (!{{ app.user ? 'true' : 'false' }}) {
                        window.location.href = "{{ path('app_login') }}";
                    } else {
                        var coursId = info.event.id;
                        window.location.href = "/reservation/new?coursId=" + coursId;
                    }
                },
                   eventDidMount: function(info) {
            var currentDate = new Date();
                     var placesDispo = info.event.extendedProps.placesDispo;

            if (info.event.start < currentDate || placesDispo === 0) {
                info.el.classList.add('passed');
                info.el.classList.add('disable-link');
               
            }
        }
      

            });


            calendar.render();
        });
    </script>
{% endblock %}
