{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user is not empty and is_granted('ROLE_ADMIN_APPLI') %}
        <a href="{{ path('app_cours_new') }}">Créer un nouveau cours</a>
    {% endif %}
    <div id="calendar-holder"></div>
    <style>
       .passed {
            opacity: 0.5; /* Par exemple, réduire l'opacité pour les événements passés */
           text-decoration: line-through;
        }
        .disable-link {
            pointer-events: none; /* Désactiver les liens pour les événements passés */
            cursor: default;
        }</style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                editable: false,
                events: {{ data|raw }}, // Utilisez les données des événements fournies par Symfony
                locale: 'fr',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
  eventClick: function(info) {
    var currentDate = new Date();
    if (info.event.start < currentDate) {
        // Si la date de début de l'événement est antérieure à la date actuelle, empêchez l'action par défaut
        return false;
    } 

  


            
                    if (!{{ app.user ? 'true' : 'false' }}) {
                        window.location.href = "{{ path('app_login') }}";
                    } else {
                        var coursId = info.event.id;
                        window.location.href = "/reservation/new?coursId=" + coursId;
                    }
                },
                   eventDidMount: function(info) {
            var currentDate = new Date();
            if (info.event.start < currentDate) {
                info.el.classList.add('passed');
               
            }
        }
            });

            calendar.render();
        });
    </script>
{% endblock %}
